@use "style" as style;
@use "reset";

.equipe {
    padding: 64px 0;

    .equipeText {
        position: relative;
        height: 128px; 
        overflow: hidden;
        margin-bottom: 32px;

        .bandeauLoop, .titleDiv {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
        }

        .bandeauLoop {
            z-index: 1;
        }

        .titleDiv {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 32px;
            background-color: style.$gray;
            z-index: 2;
            opacity: 0;
            transform: scaleY(0);
            transform-origin: center;

            h2 {
                color: style.$white;
            }

            .button {
                @include style.simpleButton();
            }
            
            .button:hover {
                background: style.$white;
            }
        
        }

        &:hover {
            .bandeauLoop {
                opacity: 0;
                transform: scaleY(0);
            }

            .titleDiv {
                opacity: 1;
                transform: scaleY(1);
            }
        }
    }

    .equipesContent {
        .container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            align-self: stretch;
            max-width: 1280px;
            margin: auto;

            .singleCard {
                display: flex;
                padding: 48px 64px;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                border-radius: 24px;
                border: 1px solid style.$gray;

                .name {
                    @include style.textM();
                    color: style.$gray;
                }

                .job {
                    @include style.textM();
                    color: style.$medium-gray;
                }
            }

            .singleCard:hover {
                background-color: style.$gray;
                .name, .job {
                    color: style.$white;
                }
            }
        }
  }
}

.marquee-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.marquee {
    display: flex;
    width: fit-content;
    height: 100%;
}

.marquee-content {
    display: flex;
    align-items: center;
    height: 100%;

    span {
        color: transparent;
        -webkit-text-stroke: 2px style.$gray;
        text-stroke: 2px style.$gray;
        font-family: Satoshi, sans-serif;
        font-size: 108.875px;
        font-style: normal;
        font-weight: 700;
        line-height: 128px;
        letter-spacing: 3.84px;
        text-transform: uppercase;

        &:nth-child(even) {
            font-size: 64px;
            padding: 0 25px;
        }
    }
}