@use "style" as style;
@use "reset";

.header{ 
    position: fixed;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100; 
    max-width: 1280px;
    width: 100%;
    padding: 8px 16px;
    border-radius: 16px;
    margin: auto;
    backdrop-filter: blur(8px);
    box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    mix-blend-mode: difference;

    .navigation{
        @include style.flex();
        width: 100%;

        img{
            mix-blend-mode: difference;
            pointer-events: all;
        }


        .burger{
            @include style.flex();
            flex-direction: column;
            gap: 8px;
            padding: 8px;
            cursor: pointer;
            pointer-events: all;

            span{
                width: 32px;
                height: 2px;
                background: style.$white;
                transition: all .5s ease-out;
            }
        }
    }

    nav{
        pointer-events: all;
        mix-blend-mode: normal;

        ul{
            @include style.flex();
            flex-direction: column;
            gap: 64px;
            padding: 128px;
            height: calc(100vh - 96px);

            li, a{
                @include style.title();
                @include style.titleL();
                display: inline-block;
                color: style.$white;
                cursor: pointer;
            }
        }
    }

    
}