@use "style" as style;
@use "reset";

.heroBanner {
  background-color: style.$gray;
  height: 100vh;
  @include style.flex();
  cursor: url('../assets/images/cursor.svg'), auto;
  
  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
}
