@use "../style" as style;
@use "../reset";

.description {
    display: grid;
    place-content: center;
    text-align: center;
    padding-left: calc((100vw - 1280px) / 2) !important;
    padding-right: calc((100vw - 1280px) / 2) !important;
  
    p {
        display: flex !important;
        padding: 128px;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 16px;
        flex-wrap: wrap;
    
        &, span {
            font-family: Inter;
            font-size: 72px;
            font-weight: 600;
            color: style.$gray;
            text-transform: uppercase;
        }
    }

    a{
        display: flex;
    }
  
    .highlight {
        position: relative;
        display: inline-block;
        color: style.$gray;
        cursor: pointer;
        overflow: hidden; 
    
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            z-index: -1;
            background-color: style.$gray;
            transition: all 0.3s ease-out; 
            transform: scaleX(1); 
            transform-origin: bottom;
        }

        &:hover::before {
            height: 50%;
            background-color: style.$yellow; 
        }
    }
    
}
  