@use "../style" as style;
@use "../reset";

.heroBanner {
  background-color: style.$gray;
  height: 100vh;
  @include style.flex();
  cursor: url('../../assets/images/cursor.svg') 32 32, auto;

  position: relative;
  border-bottom: 2px solid style.$yellow;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .canvas-bottom {
    z-index: 1;
  }

  .canvas-middle {
    z-index: 2;
  }

  .canvas-top {
    z-index: 3;
  }
}