@use "../style" as style;
@use "../reset";

.projects{
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;

    .titleDiv{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 32px;
    }

    .allProjects{
        @include style.textButton('Tous nos projets');
        margin: auto;
        margin-top: 64px;
    }
}